.button {
    -fx-background-radius: 12;
    -fx-padding: 5;
    -fx-font-size: 30px;
    -fx-shadow-highlight-color: f0f0f0;
    -fx-background-color: darkred;
}

#okButton {
    -fx-background-color: darkgreen;
}
