.tab-pane .tab {
    -fx-background-color: whitesmoke;
}

.tab-pane .tab:selected {
    -fx-background-color: floralwhite;
}

.tab:selected .focus-indicator {
    -fx-border-radius: 10 10 0 0, 10 10 0 0;
    -fx-fill-width: true;
    -fx-fill-height: true;
}

.tab-header-area .tab {
    -fx-padding: 20 25;
    -fx-background-radius: 10 10 0 0;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-size: 24px;
    -fx-font-family: "Times New Roman";
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}

.wallpaper_pane {
    -fx-background-image: url("../img/wallpaper.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: stretch;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-content-display: graphic-only;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-min-width: 48;
    -fx-min-height: 48;
    -fx-cursor: hand;
}

#start_button {
    -fx-background-image: url("../img/play_btn.png");
}

.exercise_selection_button {
    -fx-pref-width: 256;
    -fx-pref-height: 256;
}

#btn_ex1 {
    -fx-background-image: url("../img/apple_btn1.png");
}

#btn_mar_mare {
    -fx-background-image: url("../img/red_apple.png");
}

#btn_mar_mic {
    -fx-background-image: url("../img/red_apple.png");
}

#btn_ex2 {
    -fx-background-image: url("../img/apple_btn2.png");
}

#btn_mar_rosu {
    -fx-background-image: url("../img/red_apple.png");
}

#btn_mar_galben {
    -fx-background-image: url("../img/yellow_apple.png");
}

#btn_mar_verde {
    -fx-background-image: url("../img/green_apple.png");
}

#btn_ex3 {
    -fx-background-image: url("../img/apple_btn3.png");
}

#btn_multe {
    -fx-background-image: url("../img/basket1.png");
}

#btn_putine {
    -fx-background-image: url("../img/basket2.png");
}

#btn_ex4 {
    -fx-background-image: url("../img/grape_btn1.png");
}

#btn_ex5 {
    -fx-background-image: url("../img/grape_btn2.png");
}

#btn_ex6 {
    -fx-background-image: url("../img/grape_btn3.png");
}

.basket_background_pane {
    -fx-background-image: url("../img/basket.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: bottom;
    -fx-background-color: white;
}

.table-background-pane {
    -fx-background-image: url("../img/table.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
    -fx-background-position: bottom;
    -fx-background-color: white;
}

.navigation_button_left {
    -fx-background-image: url("../img/arrow_left.png");
    -fx-min-height: 72;
    -fx-min-width: 108;
}

.navigation_button_right {
    -fx-background-image: url("../img/arrow_left.png");
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-min-height: 72;
    -fx-min-width: 108;
}

.play_video_button {
    -fx-background-image: url("../img/play_video_btn.png");
    -fx-background-size: contain;
    -fx-background-position: center;
}

.pause_video_button {
    -fx-background-image: url("../img/pause_video_btn.png");
    -fx-background-size: contain;
    -fx-background-position: center;
}

.stop_video_button {
    -fx-background-image: url("../img/stop_video_btn.png");
    -fx-background-size: contain;
    -fx-background-position: center;
}

.close_button {
    -fx-background-image: url("../img/close_btn.png");
    -fx-background-size: contain;
    -fx-background-position: center;
}

.white_pane {
    -fx-background-color: white;
}

.anchor-pane {
    -fx-background-color: lightgreen;
}

#video_view {
    -fx-cursor: hand;
}

#slider_video_progress .thumb {
    -fx-padding: 20;
    -fx-background-image: url("../img/red_apple.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-background-color: transparent;
    -fx-cursor: move;
}

#slider_video_progress .track {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-padding: 16;
}

#slider_progress_bar {
    -fx-padding: 8;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}

#slider_progress_bar .bar {
    -fx-background-color: lightcoral;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-border-style: none;
}

#slider_progress_bar .track {
    -fx-background-color: lightgreen;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
    -fx-border-style: none;
}
